.buying-links {
  padding: 4rem var(--main-padding);
  display: flex;
  flex-wrap: wrap;
}

.buying-links > * {
  margin-bottom: 2rem;
}

.buying-links > :not(:last-child) {
  margin-right: 2rem;
}

@supports (display: subgrid) {
  .buying-links {
    gap: 2rem;
  }

  .buying-links > * {
    margin-bottom: 0;
  }

  .buying-links > :not(:last-child) {
    margin-right: 0;
  }
}

.buying-link {
  display: flex;
}

.buying-link > :not(:last-child) {
  margin-right: 1rem;
}

@supports (display: subgrid) {
  .buying-link {
    gap: 1rem;
  }

  .buying-link > :not(:last-child) {
    margin-right: 0;
  }
}

.buying-link-icon {
  width: 25px;
  height: 25px;
}

.buying-link-text {
  cursor: pointer;
}

.buying-link-text:hover {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .buying-links {
    width: 100%;
    justify-content: center;
  }

  .buying-link {
    flex-direction: column;
    align-items: center;
  }

  .buying-link > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  @supports (display: subgrid) {
    .buying-link > :not(:last-child) {
      margin-bottom: 0;
    }
  }
}
