@use '../mixins';

.carousel {
  width: 100%;
  height: calc(10vw + 500px);
  background-color: #e6e6e6;

  &:hover {
    .carousel-control-previous,
    .carousel-control-next {
      display: block;
    }
  }
}

.carousel-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-image-wrapper {
  width: 100%;
  height: calc(10vw + 150px);
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-main {
  @include mixins.flex-center();
  height: 50%;
  padding: calc(5% + 20px) 10%;
  padding-bottom: 5%;
  flex-direction: column;
  text-align: center;

  & > h1 {
    font-size: 1.5rem;
  }
}

.carousel-main > :not(:last-child) {
  margin-bottom: 5px;
}

@supports (display: subgrid) {
  .carousel-main {
    row-gap: 5px;
  }

  .carousel-main > :not(:last-child) {
    margin-bottom: 0;
  }
}

.carousel-main-buttons {
  @include mixins.flex-center();
  margin-top: 10px;
  flex-wrap: wrap;

  .button-primary {
    @include mixins.button(primary);
    @include mixins.link(white);
  }
  .button-secondary {
    @include mixins.button(secondary);
    @include mixins.link(black);
  }
}

.carousel-main-buttons > :not(:last-child) {
  margin-bottom: 5px;
}

@supports (display: subgrid) {
  .carousel-main-buttons {
    row-gap: 5px;
  }

  .carousel-main-buttons > :not(:last-child) {
    margin-bottom: 0;
  }
}

.carousel-control {
  @include mixins.flex-center();
  padding: 10px;
}

.carousel-control > :not(:last-child) {
  margin-right: 10px;
}

@supports (display: subgrid) {
  .carousel-control {
    column-gap: 10px;
  }

  .carousel-control > :not(:last-child) {
    margin-right: 0;
  }
}

.carousel-control-index {
  @include mixins.button-reset();
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &:active {
    background-color: rgba(0, 0, 0, 1);
  }
  &.active {
    background-color: rgba(0, 0, 0, 1);
  }
}

.carousel-control-toggle {
  @include mixins.button-reset();
  @include mixins.flex-center();
  margin-left: 0.8rem;
  padding: 13px 17px;
  cursor: pointer;

  &::before {
    font-size: 14px;
    width: 10px;
  }
  &.playing::before {
    content: "||";
  }
  &.stopped::before {
    content: "▲";
    transform: rotate(90deg);
  }
  &:hover {
    color: white;
    background-color: rgba(0, 0, 0, 1);
  }
}

.carousel-control-previous,
.carousel-control-next {
  @include mixins.button-reset();
  display: none;
  position: absolute;
  top: 50%;
  font-size: 2rem;
  background-color: white;
  opacity: 0.6;
  border-radius: 50%;
  padding: 1rem 1.5rem;
  text-align: center;
  cursor: pointer;
  transition-property: opacity, display;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  &:hover {
    opacity: 1;
  }
}
.carousel-control-previous {
  left: 10px;
  &::before {
    content: "<";
  }
}
.carousel-control-next {
  right: 10px;
  &::before {
    content: ">";
  }
}

@media (min-width: 1000px) {
  .carousel {
    width: 100vw;
    height: auto;
  }

  @supports (display: grid) {
    .carousel-wrapper {
      display: grid;
      grid-template-columns: 3fr 1fr 6fr;
      grid-template-areas:
        "main . image"
        "control control control";
    }

    .carousel-image-wrapper {
      width: auto;
      height: auto;
      grid-area: image;
    }

    .carousel-image {
      height: 75vh;
    }

    .carousel-main {
      grid-area: main;
      align-self: center;
    }

    .carousel-control {
      grid-area: control;
    }
  }
}
