@mixin footer-text {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}

@mixin footer-link {
  @include footer-text();
  text-decoration: none;
  &:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
  }
}

.footer {
  padding: 2.5rem var(--main-padding);
  width: 100%;
  background-color: #f2f2f2;
}

.footer-body {
  display: flex;
  flex-wrap: wrap;
}

.footer-body > * {
  margin-bottom: 3rem;
}

.footer-body > :not(:last-child) {
  margin-right: 3rem;
}

@supports (display: grid) {
  .footer-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 3rem;
  }

  .footer-body > * {
    margin-bottom: 0;
  }

  .footer-body > :not(:last-child) {
    margin-right: 0;
  }
}

.footer-title {
  color: #616161;
  font-size: 17px;
  font-weight: 600;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section > :not(:last-child) {
  margin-bottom: 1.3rem;
}

@supports (display: subgrid) {
  .footer-section {
    row-gap: 1.3rem;
  }

  .footer-section > :not(:last-child) {
    margin-bottom: 0;
  }
}

.footer-link {
  @include footer-link();
}

.footer-footer {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-footer > * {
  margin-bottom: 1rem;
}

.footer-footer > :not(:last-child) {
  margin-right: 1rem;
}

@supports (display: subgrid) {
  .footer-footer {
    gap: 1rem;
  }

  .footer-footer > * {
    margin-bottom: 0;
  }

  .footer-footer > :not(:last-child) {
    margin-right: 0;
  }
}

.footer-language > a {
  @include footer-link();
  display: flex;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
  }

  & > :not(:last-child) {
    margin-right: 0.7rem;
  }
}

@supports (display: subgrid) {
  .footer-language > a {
    column-gap: 0.7rem;

    & > :not(:last-child) {
      margin-right: 0;
    }
  }
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;

  a {
    @include footer-link();
  }
  span {
    @include footer-text();
  }
}

.footer-copyright > * {
  margin-bottom: 1rem;
}

.footer-copyright > :not(:last-child) {
  margin-right: 1rem;
}

@supports (display: subgrid) {
  .footer-copyright {
    gap: 1rem;
  }

  .footer-copyright > * {
    margin-bottom: 0;
  }

  .footer-copyright > :not(:last-child) {
    margin-right: 0;
  }
}
