@use '../mixins';

.navbar {
  padding: var(--navbar-padding);
  width: 100%;
}

.navbar-container {
  @include mixins.navbar-list;
  justify-content: space-between;
}

.navbar-desktop {
  display: none;
}

.navbar-icons {
  @include mixins.navbar-list;
}

.navbar-icons > :not(:last-child) {
  margin-right: 2rem;
}

@supports (display: subgrid) {
  .navbar-icons {
    column-gap: 2rem;
  }

  .navbar-icons > :not(:last-child) {
    margin-right: 0;
  }
}

.navbar-icon {
  width: var(--navbar-icon-size);
  height: var(--navbar-icon-size);
  cursor: pointer;
}

.navbar-search {
  transform: rotateY(180deg);
}

@media (min-width: 1000px) {
  .navbar-container > :not(:last-child) {
    margin-right: 2rem;
  }

  @supports (display: subgrid) {
    .navbar-container {
      column-gap: 2rem;
    }

    .navbar-container > :not(:last-child) {
      margin-right: 0;
    }
  }

  .navbar-menu {
    display: none;
  }

  .navbar-left {
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-left > :not(:last-child) {
    margin-right: 1rem;
  }

  @supports (display: subgrid) {
    .navbar-left {
      gap: 1rem;
    }

    .navbar-left > :not(:last-child) {
      margin-right: 0;
    }
  }

  .navbar-right {
    order: 2;
  }

  .navbar-logo {
    order: 0;
  }

  .navbar-desktop {
    @include mixins.navbar-list;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-desktop > :not(:last-child) {
    margin-right: 2rem;
  }

  @supports (display: subgrid) {
    .navbar-desktop {
      column-gap: 2rem;
    }

    .navbar-desktop > :not(:last-child) {
      margin-right: 0;
    }
  }

  .navbar-main-links {
    @include mixins.navbar-list;
  }

  .navbar-main-links > :not(:last-child) {
    margin-right: 2rem;
  }

  @supports (display: subgrid) {
    .navbar-main-links {
      column-gap: 2rem;
    }

    .navbar-main-links > :not(:last-child) {
      margin-right: 0;
    }
  }

  .navbar-link,
  .navbar-dropdown-toggle {
    @include mixins.navbar-link();
  }

  .navbar-dropdown {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    &::after {
      display: block;
      content: "^";
      transform: rotate(180deg);
    }

    &.opened {
      outline: 2px dashed black;
      .navbar-dropdown-toggle {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &::after {
        transform: rotate(0deg);
      }
    }
  }

  .navbar-dropdown > :not(:last-child) {
    margin-right: 1rem;
  }

  @supports (display: subgrid) {
    .navbar-dropdown {
      gap: 1rem;
    }

    .navbar-dropdown > :not(:last-child) {
      margin-right: 0;
    }
  }
}
