@use './mixins';
@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-padding: 4%;
  --scrollbar: calc(100vw - 100%);

  --dropdown-border-color: rgb(219, 219, 219);
  --dropdown-border: 1px solid var(--dropdown-border-color);
}

body {
  font-family: "Segoe UI", SegoeUI, "Microsoft JhengHei", 微軟正黑體,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin button-reset {
  background: none;
  border: none;
}

@mixin button($variant: primary) {
  @include button-reset();
  padding: 0.75rem 1.5rem;
  margin: auto 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  @if ($variant == primary) {
    color: white;
    background-color: black;
  } @else if ($variant == secondary) {
    color: black;
    background: none;
  }
}

@mixin link($color: #0067b8) {
  display: block;
  color: $color;
  font-weight: bold;
  text-decoration: none;

  &::after {
    position: relative;
    right: -8px;
    content: ">";
    transition: right 100ms ease;
  }
  &:hover {
    span {
      border-bottom: 2.5px solid $color;
    }
    &::after {
      right: -12px;
    }
  }
}

@mixin dropdown-shared {
  z-index: 1;
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  display: flex;
  border: var(--dropdown-border);
}

@mixin footer-text {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}

@mixin footer-link {
  @include footer-text();
  text-decoration: none;
  &:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cover-image {
  position: relative;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.buying-links {
  padding: 4rem var(--main-padding);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .buying-link {
    display: flex;
    gap: 1rem;

    img {
      width: 25px;
      height: 25px;
    }
    h3:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 1000px) {
  .buying-links {
    width: 100%;
    justify-content: center;

    .buying-link {
      flex-direction: column;
      align-items: center;
    }
  }
}

.cards {
  width: 100%;
  padding: 1rem var(--main-padding);
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1.5rem;

  > h1 {
    padding: 1rem 0;
    font-size: 1.7rem;
    grid-column: 1 / -1;
  }
}

.following {
  padding: 0 var(--main-padding) 3rem var(--main-padding);
  display: flex;
  align-items: center;
  column-gap: 1rem;

  span {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.footer {
  padding: 2.5rem var(--main-padding);
  width: 100%;
  background-color: #f2f2f2;

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    row-gap: 3rem;

    h3 {
      color: #616161;
      font-size: 17px;
      font-weight: 600;
    }

    article {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;

      a {
        @include footer-link();
      }
    }
  }

  footer {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .language {
      a {
        @include footer-link();
        display: flex;
        align-items: center;
        gap: 0.7rem;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .copyright {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      a {
        @include footer-link();
      }

      span {
        @include footer-text();
      }
    }
  }
}

.navbar {
  .dropdown {
    @include dropdown-shared();
    width: 100%;
    flex-direction: column;
    li {
      a,
      span {
        width: 100%;
        display: block;
        padding: 1.5rem;
        border-bottom: var(--dropdown-border);
        background-color: #e6e6e6;
        color: black;
        text-decoration: none;
        user-select: none;
        cursor: pointer;
      }
    }

    > li:last-child {
      > a,
      > span,
      .dropdown-item-group-item:last-child > a,
      .dropdown-item-group-item:last-child > span {
        border-bottom: none;
      }
      &.dropdown-item-group.opened > span {
        border-bottom: var(--dropdown-border);
      }
    }

    .dropdown-item-group {
      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      span::after {
        content: " ^";
        display: block;
        transform: rotate(180deg);
      }
      ul {
        display: none;
      }
      &.opened {
        span::after {
          transform: rotate(0deg);
        }
        ul {
          display: flex;
          flex-direction: column;
          a,
          span {
            text-indent: 2rem;
          }
        }
      }
    }
  }

  .dropdown-desktop {
    display: none;
  }
}

@media (min-width: 1000px) {
  .navbar {
    .dropdown {
      display: none;
    }

    .dropdown-desktop {
      @include dropdown-shared();
      --width: 95vw;
      width: var(--width);
      flex-direction: column;
      left: calc(calc(100vw - var(--width)) / 2);
      background-color: #e6e6e6;

      .dropdown-item-groups {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;

        .dropdown-item-group {
          display: flex;
          flex-direction: column;
          flex-basis: 16%;
          gap: 1.5rem;

          span {
            font-weight: 600;
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            a {
              @include mixins.navbar-link();
            }
          }
        }
      }
      .dropdown-item-map {
        padding: 1rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.05);
        border-bottom: 2px solid black;
        a {
          @include mixins.navbar-link();
        }
      }
    }
  }
}
